{% extends '_layouts/init' %}



{#
  Keep <html> and <body> close tags out of template caches
  to ensures that content triggered by END_BODY or END_PAGE
  events are always rendered & the Debug Toolbar is never cached.
#}
{% block response_buffer %}
  {{ block('html_open') }}
    {{- parent() -}}
  {{ block('body_close') }}
  {{ block('html_close') }}
{% endblock %}



{% block html_open %}
  <!DOCTYPE html>
  <html lang="{{ craft.app.language }}" class="has-no-js">
{% endblock %}
{% block body_open %}
  <body class="{% block body_class %}{% endblock %}">
{% endblock %}
{% block body_close %}
  </body>
{% endblock %}
{% block html_close %}
  </html>
{% endblock %}



{% block response %}
  {%- minify %}
    <head>
      {%- apply spaceless %}
        <meta charset="utf-8"/>
        
        {% for sheet in styles %}
          <link {{ attr(sheet) }}>
        {% endfor %}
        
        {% set UrlHelper = create('craft\\helpers\\UrlHelper') %}
        {% for sheet in externalStyles %}
          <link rel="preconnect" href="{{ UrlHelper.hostInfo(sheet.href) }}">
          {% if sheet.async ?? false %}
            <link rel="preload" href="{{ sheet.href }}" as="style">
            <link rel="stylesheet" href="{{ sheet.href }}" media='print' onload="this.media='all';">
            <noscript>
              <link href="{{ sheet.href }}" rel="stylesheet">
            </noscript>
          {% else %}
            <link href="{{ sheet.href }}" rel="stylesheet">
          {% endif %}
        {% endfor %}
        
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
        {# <link rel="apple-touch-icon" sizes="180x180" href="{{ alias('@assetBaseUrl/img/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ alias('@assetBaseUrl/img/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ alias('@assetBaseUrl/img/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ alias('@assetBaseUrl/img/favicons/site.webmanifest') }}">
        <link rel="mask-icon" color="#2379b7" href="{{ alias('@assetBaseUrl/img/favicons/safari-pinned-tab.svg') }}">
        <meta name="msapplication-TileColor" content="#2379b7">
        <meta name="theme-color" content="#ffffff"> #}
        
        {% block seo %}
          {% hook 'seomateMeta' %}
        {% endblock %}
        
        <script>
          document.documentElement.className = document.documentElement.className.replace('has-no-js', 'has-js');
        </script>
        
        {# GA4 Google Analytics tracking #}
        {#
          TODO: get a Google Analytics 4 Property ID (from .env settings or control panel) to enable tracking
        #}
        {% set googleId = getenv('GOOGLE_ANALYTICS_ID') %}
        {% if craft.app.config.custom.enableGoogleAnalytics and googleId %}
          <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleId }}"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){
              dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '{{ googleId }}');
          </script>
        {% endif %}
        
        {% block head_end %}{% endblock %}
        
        <meta name="build" content="{{ htmlCacheKey }}" data-pjax-track>
      {% endapply %}
    </head>
    
    {{ block('body_open') }}
      
      {% block page %}{% endblock %}
      
      {% block script_inline %}
        {# JS Constants #}
        {% set jsConstants = {
          photoswipe: {
            lightbox: 'photoswipe-lightbox.min.js',
            module: 'photoswipe.min.js',
          }|map((href, key) => alias('@assetBaseUrl/build/' ~ href|replace('/.(css|js)/', ".#{assetManifest[href]}.$1"))),
        }|merge(jsConstants ?? {})|filter %}
        <div id="pjax-eval">
          <script>
            window.PHOTOZOOM = {{ jsConstants|json_encode|raw }};
          </script>
        </div>
      {% endblock %}

      {% for script in scripts %}
        <script {{ attr(script) }}></script>
      {% endfor %}
      
      {% block body_end %}
        {% block jsonld %}{% endblock %}
      {% endblock %}
  {% endminify -%}
{% endblock %}
