{#
  _components/embed
  
  Embed content captured via an oEmbed field
  https://github.com/wrav/oembed
#}
{% from '_helpers/text' import deferEmbeds, normaliseRichtext %}



{#
  Params
#}
{% set embedField = params.embed ?? '' %}
{% set embedCaption = params.caption ?? '' %}
{% set embedClass = params.class ?? '' %}
{% set embedCaptionClass = params.caption_class ?? '' %}



{#
  Variables
#}
{% set embedIsVideo = embedField
  and embedField.valid
  and (
    embedField.media.providerName|lower in ['youtube', 'vimeo', 'facebook']
    or embedField.media.url|indexOf('youtube') != -1
    or embedField.media.url|indexOf('vimeo') != -1
    or embedField.media.url|indexOf('facebook') != -1
  ) %}



{#
  Render
#}
{% if embedField and embedField.valid %}
  <figure {{ attr({ class: embedClass }) }}>
    <div {{ attr({ class: embedIsVideo ? 'aspect-video responsive-embed' }) }}>
      {{ deferEmbeds(embedField.render()) }}
    </div>
    
    {% if embedCaption %}
      <figcaption {{ attr({ class: embedCaptionClass }) }}>
        {{ normaliseRichtext(embedCaption) }}
      </figcaption>
    {% endif %}
  </figure>
{% endif %}
